body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 225px;
    height: 200px;
    background-color: #3f3f3f;
    overflow: auto;
  }
  
  .menu {
    transform: translateX(-150px);
    background-color: #dc8f14;
    width: 175px;
    height: 200px;
    transition: transform 2s;
  }
  .üst {
    background-color: #935f0d;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
  }
  .üst h5 {
    color: #fff;
    margin: auto;
    font-size: 1rem;
  }
  .üst i {
    font-size: 30px;
    position: relative;
    right: 5px;
    cursor: pointer;
    transition: transform 2s;
  }
  
  .alt ul {
    position: relative;
    right: 10px;
  }
  .alt ul li {
    list-style: none;
    line-height: 1.5rem;
    width: 100%;
  }
  .alt ul li:hover {
    opacity: 0.7;
    transform: scale(1.05);
  }
  .menu:hover {
    transform: translateX(0px);
    cursor: pointer;
  }
  .menu:hover .fa-angle-right {
    transform: rotateY(-180deg);
  }
  